.container{
    position: relative;
    left: 37%;
    top: 113px;
    width: 300px;
    height: 480px;
    border: 2px solid powderblue;
    overflow-x:hidden;
    overflow-y: auto;
}
.img{
    width: 30%;
    height: 25%;
    margin: 5px;
}
.msg{
    position: absolute;
    top: 0px;
    left: 100px;
    font-size: smaller;
}

.img2{
    width: 80px;
    height: 90px;
    margin: 5px;
    position: relative;
    left: 10px;
    
}

.intro{
    /* border: 1px solid pink; */
    width: 290px;
    height: 80px;
    margin-left: 15px;
    position: absolute;
    top: 130px;
    font-weight: 540;
    font-size: 15px;
    line-height: 40px;
}

.recommend{
    border: 1px solid rgb(219, 207, 207);
    position: absolute;
    top: 260px;
    width: 290px;
    height: 120px;
    margin-left: 4px;
    overflow-x:hidden;
    overflow-y: auto;
}

.btn{
    position: absolute;
    top: 410px;
    left: 120px;
    border: 1px solid red;
    width: 35px;
    height: 20px;
    padding: 7px;
    border-radius: 20%;
}

::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;

}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}